.full-width {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  width: 100%;
  max-width: 200px; /* Adjust as needed */
  margin: 0 auto;
}

label {
  margin-bottom: 5px;
  padding: 2px 10px;
  background-color: #d97979;
  border-radius: 5px;
  color: rgb(64, 56, 230);
}

.error-message {
  color: red;
  font-size: 12px;
  font-weight: bold;
  animation: zubu 0.5s ease-in-out infinite;
}

@keyframes zubu {
  from {
    color: red;
  }
  to {
    color: rgb(255, 225, 0);
  }
}
